nav {
  top: 0;
  position: sticky;
  margin: 0 auto;
  padding: 0 2rem;
  padding-inline-start: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90rem;
  height: var(--navbar-height);
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-bg);
  transition:
    background-color 0.3s,
    color 0.3s;
}

nav > * {
  flex-shrink: 0;
}

.top-navigation {
  display: flex;
  gap: 1.3rem;
}

.top-navigation button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--color-text-secondary);
  background-color: transparent;
  transition: color 0.2s ease;
}

.top-navigation button:hover {
  color: var(--color-primary);
}
