.nav-wrapper {
  top: 0;
  position: sticky;
  display: flex;
}

nav {
  margin: 0 auto;
  padding: 1rem 2rem;
  padding-inline-start: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 72rem;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--color-bg);
  transition:
    background-color 0.3s,
    color 0.3s;
}

nav > * {
  flex-shrink: 0;
}

.top-navigation {
  display: flex;
  gap: 1.3rem;
}

.top-navigation button {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: var(--color-text-secondary);
  background-color: transparent;
  transition: color 0.2s ease;
}

.top-navigation button:hover {
  color: var(--color-primary);
}

.logo {
  color: var(--color-text-primary);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.top-settings {
  display: flex;
  gap: 0.6rem;
}

.top-toggle {
  display: flex;
  font-size: .9rem;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem 0.6rem;
  color: var(--color-text-secondary);
  cursor: pointer;
  border: 1px solid var(--color-border);
  user-select: none;
  transition: border 0.2s ease;
}

.top-toggle > * {
  transition: color 0.2s ease;
}

.top-toggle:hover {
  border-color: var(--color-primary);
}

.top-toggle:hover > * {
  color: var(--color-primary);
}
