.nav-wrapper {
  top: 1rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  overflow: hidden;
}

nav {
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 82rem;
  height: var(--navbar-height);
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}

nav > * {
  flex-shrink: 0;
}

.logo {
  font-size: 1.9rem;
  color: var(--color-text-primary);
  cursor: pointer;
}

.top-navigation {
  position: relative;
  display: flex;
  padding: 0.5rem 0;
  box-sizing: border-box;
}

.top-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-size: 1.1rem;
  width: 95px;
  height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0.2rem 0;
  transition: color 0.3s ease;
}

.top-btn::before {
  content: attr(aria-label);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.top-btn::after {
  content: "";
  background-color: var(--color-primary);
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  transform: scale(0.7);
  opacity: 0;
  will-change: transform;
  transition: transform 0.25s cubic-bezier(0.41, 0.1, 0.13, 1), opacity 0.15s ease;
}

.top-btn:hover::after {
  opacity: .07;
  transform: scale(1);
}

.slider {
  position: absolute;
  bottom: 0.1rem;
  height: 0.3rem;
  border-radius: 2rem;
  background-color: var(--color-primary);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.selected .top-btn   {
  color: var(--color-primary);
  /* border-color: var(--color-primary); */
  /* padding-inline-start: 1rem; */
  /* margin-inline-start: 0.3rem; */
}

.top-settings {
  display: flex;
  gap: 0.3rem;
}

.top-settings >* {
  flex-shrink: 0;
}

.top-util {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-primary);
  padding: .5rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: color, background-color;
}
