/* button.css */
button {
  color: currentColor;
}

.button {
  align-items: center;
  user-select: none;
  background: 0 0;
  border: none;
  border-radius: 6.25rem;
  color: var(--color-text-primary);
  cursor: pointer;
  display: inline-flex;
  font-size: 2rem;
  font-weight: 500;
  gap: 0.363636em;
  justify-content: center;
  letter-spacing: -0.01em;
  line-height: 1.04545;
  overflow: hidden;
  padding: 0.9375rem 1.5rem;
  position: relative;
  text-decoration: none;
  word-break: break-word;
}

@media (hover: hover) {
  .button.button--stroke:hover {
    color: #fff;
    text-decoration: none;
  }
}

.button--stroke:after {
  /* border: 0.125rem solid var(--color-text-primary); */
  background-color: var(--color-bg);
  z-index: -1;
  border-radius: 6.25rem;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.5s ease;
}

.button__label {
  position: relative;
  text-align: center;
  transition: color 50ms cubic-bezier(0.76, 0, 0.24, 1);
}

.button--stroke:hover .button__label {
  transition: color 0.15s cubic-bezier(0.76, 0, 0.24, 1);
}

.button__flair {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(0);
  transform-origin: 0 0;
  will-change: transform;
}

.button__flair:before {
  aspect-ratio: 1 / 1;
  background-color: var(--color-text-primary);
  border-radius: 50%;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  width: 170%;
}