.sidebar-wrapper {
  position: fixed;
  display: flex;
  align-items: center;
  height: calc(100dvh);
  box-sizing: border-box;
  z-index: 3;
}

aside {
  border-end-end-radius: 1.5rem;
  border-start-end-radius: 1.5rem;
  height: fit-content;
  width: var(--sidebar-width);
  display: flex;
  /* gap: 2rem; */
  flex-direction: column;
  padding: 1rem 0.5rem;
  padding-top: 1.3rem;
  background: #111111;
  color: var(--color-text-secondary);
  box-sizing: border-box;
  user-select: none;
}

.logo {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
  letter-spacing: 3;
  cursor: pointer;
  margin-inline-start: 0.3rem;
}

.side-label {
  opacity: 0.7;
  font-size: 0.8rem;
  padding-inline-start: 0.7rem;
  margin-bottom: 0.5rem;
}

.side-sections-container {
  margin-top: 2rem;
}

.side-sections-container button {
  display: flex;
  align-items: start;
  gap: 0.6rem;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 0.9rem;
  /* background-color: red; */
  /* border: solid 1px; */
  color: var(--color-text-secondary);
  /* border-radius: 0.8rem; */
  cursor: pointer;
  padding: 0.7rem 0.4rem;
  padding-inline-start: 0.7rem;
  /* border-inline-start: 1px solid transparent; */
  transition: all 0.2s ease;
}

.side-sections-container button:hover {
  color: var(--color-primary);
}

.side-sections-container .selected button {
  color: var(--color-primary);
  /* border-color: var(--color-primary); */
  /* padding-inline-start: 1rem; */
  /* margin-inline-start: 0.3rem; */
}

.top-settings {
  display: flex;
  gap: 0.6rem;
  padding: 0 0.3rem;
}

.top-toggle {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  gap: 0.4rem;
  width: fit-content;

  padding: 0.5rem 0.6rem;
  color: var(--color-text-secondary);
  cursor: pointer;
  border: 1px solid var(--color-border);
  user-select: none;
  transition: border 0.2s ease;
}

.top-toggle > * {
  transition: color 0.2s ease;
}

.top-toggle:hover {
  border-color: var(--color-primary);
}

.top-toggle:hover > * {
  color: var(--color-primary);
}

.side-sections-wrapper {
  position: relative;
}

.side-slider {
  position: absolute;
  top: 0;
  inset-inline-start: -0.5rem;
  width: 0.3rem;
  border-end-end-radius: 0.5rem;
  border-start-end-radius: 0.5rem;
  background-color: var(--color-primary);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.selected-label {
  color: var(--color-primary);
}
