* {
  padding: 0;
  margin: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #171717;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

nav {
  top: 0;
  position: sticky;
  padding: 1rem 0;
  background-color: var(--background);
}