* {
  font-family: var(--font-hilmar), sans-serif;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --sidebar-width: 10rem;

  --color-primary: #ff5b5b;
  --color-primary-hover: #d5def8;

  --color-bg: #fbf1f1;
  --color-surface: #f5f5f5;

  --color-text-primary: #2c2e2a;
  --color-text-secondary: #dadada;

  --color-border: #868686;
}

[data-theme="dark"] {
  --color-primary: #33b3ff;
  --color-primary-hover: #1aa3f5;

  --color-bg: #0e1115;
  --color-surface: #1a1a1a;

  --color-text-primary: #ededed;
  --color-text-secondary: #bdbdbd;

  --color-border: #4e4e4e;
}

::selection {
  background: var(--color-primary);
  color: #101010;
}

/* Firefox */
::-moz-selection {
  background: var(--selection);
  color: #fff;
}

[data-section="default"] {
  --color-bg: #f5f1e4;
  --color-primary: #2dee6d;
}

[data-theme="dark"][data-section="default"] {
  --color-bg: #004947; /* very dark teal / almost black */
  --color-primary: #13aca7;
}

[data-section="notopia"] {
  --color-bg: #f1f6fb;
  --color-primary: #5bb6ff;
}

[data-theme="dark"][data-section="notopia"] {
  --color-bg: #002b5f;
  --color-primary: #0558be;
}

[data-section="caterfy"] {
  --color-bg: #f9f1fb;
  --color-primary: #e45bff;
}

[data-theme="dark"][data-section="caterfy"] {
  --color-bg: #f6f2fb; /* deep purple / almost black */
  --color-primary: #a874ff;
}

body {
  background-color: var(--color-bg);
  color: var(--foreground);
  transition:
    background-color 0.9s ease,
    color 0.9s ease;
}

button {
  background-color: var(--color-bg);
  outline: none;
  padding: 0.2rem;
}

.border-radius-btn {
  border-radius: 0.6rem;
}

main {
  padding-inline-start: var(--sidebar-width);
  overflow-y: hidden;
}

.svg-path {
  position: absolute;
  top: 25vh;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

.svg-path svg {
  width: 100%;
  height: 100%;
}
section {
  min-height: 50rem;
  color: var(--color-text-primary);
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem 5rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
  /* will-change: transform; */
  transition: color 0.5s ease;
}

section > * {
  transition: color 0.5s ease;
}

.svg-path svg path {
  transition: stroke 0.5s ease;
}

.home {
  padding: 3rem 6rem;
  padding-top: 5rem;
}
