* {
  font-family: var(--font-hilmar), sans-serif;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --sidebar-width: 10rem;
  --navbar-height: 4.2rem;

  --color-primary: #ff705d;
  --color-primary-hover: #d5def8;

  --color-bg: #fbf1f1;
  --color-surface: #f5f5f5;

  --color-text-primary: #2c2e2a;
  --color-text-secondary: #dadada;

  --color-border: #e0e0e0;

  --secondary-color: #ff8c20;
}

[data-theme="dark"] {
  --color-primary: #33b3ff;
  --color-primary-hover: #1aa3f5;

  --color-bg: #0e1115;
  --color-surface: #1a1a1a;

  --color-text-primary: #ededed;
  --color-text-secondary: #bdbdbd;

  --color-border: #4e4e4e;

  --secondary-color: #cc6c12;
}

::selection {
  background: var(--color-primary);
  color: #101010;
}

::-moz-selection {
  background: var(--selection);
  color: #fff;
}

[data-theme="dark"] *::selection {
  color: var(--color-text-primary) !important;
}

[data-section="default"] {
  --color-bg: #e9f2f5;
  --color-primary: #2093ff;
}

[data-theme="dark"][data-section="default"] {
  --color-bg: #131313;
  --color-primary: #034183;
}

[data-section="notopia"] {
  --color-bg: #f1f6fb;
  --color-primary: #2093ff;
}

[data-theme="dark"][data-section="notopia"] {
  --color-bg: #002b5f;
  --color-primary: #0558be;
}

[data-section="caterfy"] {
  --color-bg: #f9f1fb;
  --color-primary: #e45bff;
}

[data-theme="dark"][data-section="caterfy"] {
  --color-bg: #f6f2fb;
  --color-primary: #a874ff;
}

html[lang="ar"] * {
  direction: right;
  text-align: right;
}

body {
  background-color: var(--color-bg);
  color: var(--foreground);
  transition:
    background-color 0.9s ease,
    color 0.9s ease;
}

button {
  background-color: var(--color-bg);
  outline: none;
  padding: 0.2rem;
}

.border-radius-btn {
  border-radius: 0.6rem;
}

html[lang="ar"] .lang-flip {
  transform: scaleX(-1);
}

main {
  background: var(--color-primary);
  overflow: hidden;
  overflow-y: hidden;
  transition: all 0.5s ease;
}

.svg-path {
  position: absolute;
  top: 25vh;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

.svg-path svg {
  width: 100%;
  height: 100%;
}
section {
  min-height: 50rem;
  color: var(--color-text-primary);
  font-size: 3rem;
  font-weight: 500;
  padding: 1rem 5rem;
  padding-inline-start: calc(var(--sidebar-width) + 5rem) !important;
  box-sizing: border-box;
  transition: color 0.5s ease;
}

section > * {
  transition: color 0.5s ease;
}

.svg-path svg path {
  transition: stroke 0.5s ease;
}

.home {
  position: relative;
  display: flex;
  pointer-events: all;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home *::selection {
  background-color: var(--color-bg);
  color: var(--color-primary);
}

.home-btns {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  align-items: center;
  margin-top: 3rem;
}

.home-btns path {
  stroke: #ff705d;
}

.home-btns > * {
  flex-shrink: 0;
}

.panel {
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* overflow: hidden; */
  box-sizing: border-box;
}

.panel-inner {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.panel-home {
  margin-bottom: 7rem;
  height: 100vh;
}

.panel-home .panel-inner {
  height: 100vh;
}

.panel-content {
  min-height: 100vh;
  z-index: 2;
  background: var(--color-bg);
  border-top-left-radius: 3.5rem;
  border-top-right-radius: 3.5rem;
  padding-top: 6rem;
  transition:
    color 0.5s ease,
    background-color 0.5s ease;
}

.panel-content .panel-inner {
  height: auto;
  overflow: visible;
}

.animated-burst > path {
  transition: fill 0.5s ease;
}

.about-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 1.88rem;
}

.about-point {
  display: flex;
  /* align-items: center; */
  gap: 1.5rem;
}

#about {
  padding-bottom: 10rem;
}

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15% !important;
  margin-inline-start: var(--sidebar-width);
  overflow: hidden;
}

.colored-card {
  height: 52rem;
  padding-top: 15px;
  border-top: 1px solid var(--color-border);
  background-color: var(--color-bg);
  margin-bottom: 50px;
  font-size: 1.5rem;
}

main > *:nth-child(2) {
  margin: 0 !important;
}

.home-links-wrapper {
  display: flex;
  gap: 0.7rem;
  position: absolute;
  transform: translateY(-100%);
  top: 0;
  inset-inline-end: 0.5rem;
  width: fit-content;
  font-size: 1.3rem;
  color: var(--color-text-primary);
  padding: 2rem;
  padding-bottom: 1rem;
}

.home-link {
  transition: transform 0.2s ease;
  will-change: transform;
}

.home-link:hover {
  transform: scale(1.07);
}

#contact {
  position: relative;
  background-color: #50fc98;
  border-radius: 3.5rem;
  padding-bottom: 0 !important;
  padding-left: 0;
  padding-right: 0;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 15%;
  /* min-height: 93vh; */
  justify-content: center;
  padding: 7rem 7rem;
  padding-bottom: 0 !important;
  margin-bottom: 0rem;
  box-sizing: border-box;
}

@media (max-width: 1114px) {
  :root {
    --sidebar-width: 0rem;
  }

  .home {
    padding-top: 6rem;
  }
}

input {
  border: none;
  outline: none;
  width: 100%;
  background-color: #f2f5f8;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  font-size: 1.05rem;
}

textarea {
  border: none;
  outline: none;
  width: 100%;
  background-color: #f2f5f8;
  border-bottom: 1px solid var(--color-bg);
  font-size: 1.05rem;
  border-radius: 1rem;
  padding: 1rem;
  box-sizing: border-box;
  resize: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  width: 100%;
  flex: 0;
}

.input-wrapper label {
  padding-left: 0.6rem;
  font-weight: 100;
}

.table-phone {
  display: flex;
  /* position: absolute; */
  /* bottom: 0; */
}

.contact-box {
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.4rem;
  background-color: transparent;
  padding: 2.5rem 2.4rem;
  padding-bottom: 2rem;
  border-radius: 1.2rem;
  min-width: 24rem;
  max-width: 25rem;
}

.contact-box-wrapper {
  position: relative;
}

.cb-layer-2 {
  position: absolute;
  background-color: white;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  will-change: transform;
  z-index: 0;
}

.cb-layer-1 {
  position: absolute;
  background-color: #ff705c;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  will-change: transform;
  z-index: 0;
}

.about-container {
  display: flex;
  gap: 4rem;
  align-items: center;
  margin-top: 3rem;
}

@media (max-width: 1660px) {
  .about-container {
    flex-direction: column;
  }
}

@media (max-width: 1500px) {
  #skills {
    padding: 0 10% !important;
  }
}

@media (max-width: 1300px) {
  #skills {
    padding: 0 8% !important;
  }
}

@media (max-width: 960px) {
  .animated-burst {
  }
}
