* {
  font-family: var(--font-hilmar), sans-serif;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --color-primary: #f5d867;
  --color-primary-hover: #d5def8;

  --color-bg: #f8dc97;
  --color-surface: #f5f5f5;

  --color-text-primary: #161616;
  --color-text-secondary: #dadada;

  --color-border: #868686;
}

[data-theme="dark"] {
  --color-primary: #33b3ff;
  --color-primary-hover: #1aa3f5;

  --color-bg: #0e1115;
  --color-surface: #1a1a1a;

  --color-text-primary: #ededed;
  --color-text-secondary: #bdbdbd;

  --color-border: #4e4e4e;
}

[data-section="default"] {
  --color-bg: #64ffe5;
  --color-primary: #08e4bf;
}

[data-theme="dark"][data-section="default"] {
  --color-bg: #004947; /* very dark teal / almost black */
  --color-primary: #13aca7;
}

[data-section="notopia"] {
  --color-bg: #6488ff;
  --color-primary: #0085e4;
}

[data-theme="dark"][data-section="notopia"] {
  --color-bg: #002b5f;
  --color-primary: #0558be;
}

[data-section="caterfy"] {
  --color-bg: #9b6eff;
  --color-primary: #7640ec;
}

[data-theme="dark"][data-section="caterfy"] {
  --color-bg: #230064; /* deep purple / almost black */
  --color-primary: #b189ff;
}

body {
  background-color: var(--color-bg);
  color: var(--foreground);
  transition:
    background-color 0.9s ease,
    color 0.9s ease;
}

button {
  background-color: var(--color-bg);
  outline: none;
  padding: 0.2rem;
}

.border-radius-btn {
  border-radius: 0.6rem;
}

main {
  padding-inline-start: 12rem;
  overflow-y: hidden;
}

.svg-path {
  position: absolute;
  top: 25vh;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1;
}

.svg-path svg {
  width: 100%;
  height: 100%;
}
section {
  height: 50rem;
  color: var(--color-text-primary);
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
  box-sizing: border-box;
  transition: color 0.5s ease;
}

.svg-path svg path {
  transition: stroke 0.5s ease;
}
